@keyframes load {
    0%{
        box-shadow: 0 0 #ed3b65 inset;
    }
    100%{
        box-shadow: 0 -70px #ed3b65 inset;
    }
}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: blueviolet;

}

.loader {
    transform: 
    perspective(140px) rotateX(-45deg);

    width: 32px;
    height: 72px;
    position: relative;
    border: 2px solid #fff ;
    animation: load 1.5s linear infinite alternate;

}