@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: blueviolet;

}
.spinner{
    width: 50px;
    height: 50px;
    border: 10px solid;
    border-color: #fff transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}