@keyframes spin {
to { transform: rotate(360deg); }   

}
body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: blueviolet;

}

.loader{
    width: 64px;
    height: 64px;
    border-radius: 50%;

    border-top: 
    8px solid rgba(255, 255, 255, 1);

    border-left: 
    8px solid rgba(255, 255, 255, 1);

    border-right: 
    8px solid rgba(255, 255, 255, 0);

    animation: spin 0.575s infinite linear; 
}